body{
  margin: 0px;
}

.container{
  width: 100vw;
  height: 100vh;
  background-color: orange;
  position: relative;
}

.logo_container{
  margin: 0px auto;
  width: 200px;
}

.berry_container, .title{
  float: left;
}



header{
  height: 40px;
  background-color: #334455;
  width: 100%;
  color: #ffffff;
  text-align:center;
  font-size: 28px;
  display: block;
}

main{
  display:block;
  background-color: purple;
  height: 100%;
}

header img {
    height: 30px;
    position: relative;
    top: 3px;
    left: -5px;d
}


footer {
  padding: 5px;
  width: 100%;
  background-color: #123;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0px;
}

.left_section{
  height: 100%;
  width: 20%;
  float: left;
  background-color: green;
}

.fruit_box{
  width: 80%;
  height: 80%;
  margin: 0px auto;
  overflow: scroll;
}

.fruit_item{
  width: 120px;
  margin: 0px auto;

}

.fruit_item img{
  height: 100px;
  margin-top: 20px;
}
